@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fi" data-ng-app="OrganizationRegister" itemscope itemtype="http://schema.org/WebPage" data-text-size="3" class="no-js text-size-3">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Organization Register" />
        
        <title>
            @ViewBag.Title
        </title>

        <base href="@Url.Content("~")" />
        
        <!-- favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/content/favicon/apple-touch-icon.png")">
        <link rel="icon" type="img/png" href="@Url.Content("~/content/favicon/favicon-32x32.png")" sizes="32x32">
        <link rel="icon" type="img/png" href="@Url.Content("~/content/favicon/favicon-16x16.png")" sizes="16x16">
        <link rel="manifest" href="@Url.Content("~/content/favicon/manifest.json")">
        <link rel="mask-icon" href="@Url.Content("~/content/favicon/safari-pinned-tab.svg")" color="#1964e6">

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>

    <body id="ptv">
        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/angulartranslate")
        @Scripts.Render("~/bundles/angular-unsavedChanges")
        @Scripts.Render("~/bundles/treecontrol")
        @Scripts.Render("~/bundles/angular-ui")
        @Scripts.Render("~/bundles/scripts")
        @Scripts.Render("~/bundles/base")
        @Scripts.Render("~/bundles/busyindication")
        @Scripts.Render("~/bundles/exceptionhandling")
        @Scripts.Render("~/bundles/login")
        @Scripts.Render("~/bundles/app")
        @RenderSection("scripts", false)
    </body>
</html>