@using System.Configuration
@using OrganizationRegister.AngularApplication.Configuration
@{ ViewBag.Title = "Organisaatiorekisteri"; }

<header id="page-header" role="banner">
    <div class="header-top" data-ng-controller="OrganizationRegister.MainNavigationController as controller">
        <div class="container">
            <h1>
                <a href="#/" class="logo-link">
                    <img src="~/Content/img/logo.png" />
                </a>
            </h1>
            <div class="site-options md-right">
                <ul class="adjust-font-size" aria-hidden="true">
                    <li><button title="Pienennä tekstikokoa" class="decrease-font-size">A-</button></li>
                    <li><button title="Suurenna tekstikokoa" class="increase-font-size">A+</button></li>
                </ul>
                <span data-ng-show="controller.isUserLoggedIn">
                    <span class="user-logged" >
                        <a id="userName" href="javascript: void(0)">{{ controller.user.name }}</a>
                    </span>
                    <button id="logoutButton" class="button loginbutton" data-ng-click="controller.logOut()">
                        <span class="icon icon-lock" aria-hidden="true"></span><span>Kirjaudu ulos</span>
                    </button>
                </span>
            </div>
        </div>
        <div class="site-navigation">
            <div class="container">
                <nav>
                    <ul data-ng-show="controller.isUserLoggedIn">
                        <li data-ng-class="{ 'current': controller.areOrganizationsActive() }" data-ng-click="controller.changeToOrganizations()">
                            <a data-ng-href="#/">Organisaatiot</a>
                        </li>
                        <li data-ng-class="{ 'current': controller.areUsersActive() }" data-ng-click="controller.changeToUsers()">
                            <a data-ng-href="#/Organizations/{{controller.user.organizationId}}/Users">Käyttäjät</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<main id="main" role="main" name="main">
    <div data-affecto-busy-indicator></div>
    <div data-ng-view></div>
</main>

<footer id="page-footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div id="footer-logo">
                <img src="~/Content/img/footer-logo2.svg" alt="Väestörekisterikeskus logo">
            </div>
        </div>
    </div>
</footer>

@section scripts
{
    @{
        var apiBaseUrl = OrganizationRegisterApiConfiguration.Settings.BaseUrl;
        var tokenServiceConfiguration = AccessTokenServiceConfiguration.Settings;
    }

    <script type="text/javascript">
        angular
            .module('OrganizationRegister.Settings', [])
            .constant('apiBaseUrl', '@apiBaseUrl')
            .constant('apiGetUserUrl', '@string.Format("{0}organizationregister/authenticateduser", apiBaseUrl)')
            .constant('tokenServiceUrl', '@tokenServiceConfiguration.Url')
            .constant('tokenServiceClientId', '@tokenServiceConfiguration.ClientId')
            .constant('tokenServiceClientSecret', '@tokenServiceConfiguration.ClientSecret')
            .constant('tokenServiceScope', '@tokenServiceConfiguration.Scope')
            .constant('useExternalLogin', @ConfigurationManager.AppSettings.AllKeys.Where(k => k == "useExternalLogin").Select(k => ConfigurationManager.AppSettings[k]).DefaultIfEmpty("false").FirstOrDefault())
            .constant('externalLoginPage', '@ConfigurationManager.AppSettings.AllKeys.Where(k => k == "externalLoginPage").Select(k => ConfigurationManager.AppSettings[k]).DefaultIfEmpty(null).FirstOrDefault()');
    </script>
}